n8n_workflows/workflow-chat.json
{
  "name": "BMC Chat Conversacional",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "webhook/chat",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-chat",
      "name": "Webhook Chat",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [240, 300],
      "webhookId": "bmc-chat-webhook"
    },
    {
      "parameters": {
        "functionCode": "// Validar y limpiar input del webhook\nconst body = $input.item.json.body || $input.item.json;\n\n// Validar campos requeridos\nif (!body.mensaje) {\n  return {\n    json: {\n      error: \"Mensaje requerido\",\n      success: false\n    }\n  };\n}\n\n// Preparar datos para Python script\nreturn {\n  json: {\n    action: \"procesar_mensaje\",\n    mensaje: body.mensaje,\n    telefono: body.telefono || null,\n    sesion_id: body.sesion_id || null\n  }\n};"
      },
      "id": "validate-input",
      "name": "Validate Input",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [460, 300]
    },
    {
      "parameters": {
        "command": "python3 n8n_integration.py",
        "options": {
          "cwd": "/app"
        }
      },
      "id": "execute-python",
      "name": "Execute Python Script",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [680, 300]
    },
    {
      "parameters": {
        "functionCode": "// Procesar respuesta del Python script\nconst pythonResult = $input.item.json;\n\n// Verificar si fue exitoso\nif (!pythonResult.success) {\n  return {\n    json: {\n      error: pythonResult.error || \"Error procesando mensaje\",\n      success: false\n    }\n  };\n}\n\n// Retornar respuesta formateada\nreturn {\n  json: {\n    success: true,\n    data: pythonResult.data,\n    timestamp: new Date().toISOString()\n  }\n};"
      },
      "id": "process-response",
      "name": "Process Response",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [900, 300]
    },
    {
      "parameters": {
        "operation": "insert",
        "collection": "conversaciones",
        "document": "={{ $json }}"
      },
      "id": "save-mongodb",
      "name": "Save to MongoDB",
      "type": "n8n-nodes-base.mongoDb",
      "typeVersion": 1,
      "position": [1120, 300]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}"
      },
      "id": "webhook-response",
      "name": "Webhook Response",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [1340, 300]
    }
  ],
  "connections": {
    "Webhook Chat": {
      "main": [
        [
          {
            "node": "Validate Input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validate Input": {
      "main": [
        [
          {
            "node": "Execute Python Script",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute Python Script": {
      "main": [
        [
          {
            "node": "Process Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Process Response": {
      "main": [
        [
          {
            "node": "Save to MongoDB",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Save to MongoDB": {
      "main": [
        [
          {
            "node": "Webhook Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {},
  "versionId": "1",
  "id": "bmc-chat-workflow",
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {}
}
